#box-1{
  background: rgb(50, 115, 205);
  /* order: 1; */
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  /* flex-basis: 200px; */
  flex: 0 0 300px;
}
.item{
  padding:10px;
  color:white;
  text-align: center;
}

#box-2{
    background: rgb(117, 50, 205);
  }
  #box-3{
    background: rgb(202, 205, 50);
  }
  #box-4{
    background: rgb(205, 50, 58);
  }
  #box-5{
    background: rgb(205, 50, 148);
  }
  #box-6{
    background: rgb(50, 117, 205);
  }
  #box-7{
    background: rgb(205, 128, 50);
  }
  #box-8{
    background: yellowgreen;
  }
  #box-9{
    background: rgb(68, 98, 8);
    flex:1 0;
    align-self: center;
  }

  #container{
    height: 500px;
    display: flex;
    border:2px solid;
    /* flex-direction: column; */
    /* flex-wrap:wrap; */
    /* justify-content:space-evenly; */
    align-items: flex-end;
  }