#container {
    height: 1000px;
    border:2px solid red;
    display: grid;
    /* grid-template-columns:100px repeat(3,400px)  ; */
    grid-template-columns:repeat(3,100px);
    grid-template-rows: repeat(3,200px);
    /* row-gap: 30px;
    column-gap: 20px; */
    gap:30px 40px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: flex-start;
    align-content: stretch;
}
.item {
  padding: 10px;
  color: white;
  text-align: center;
}
#box-1 {
  background: rgb(50, 115, 205);
  /* grid-column-start:1;
  grid-column-end: 3; */
  /* grid-column-start: 1;
  grid-column-end:3 ;
  grid-row-start: 1;
  grid-row-end:3; */
  grid-column: 1/3;
  grid-row:1/3;
}

#box-2 {
  background: rgb(117, 50, 205);
}
#box-3 {
  background: rgb(202, 205, 50);
}
#box-4 {
  background: rgb(205, 50, 58);
}
#box-5 {
  background: rgb(205, 50, 148);
}
#box-6 {
  background: rgb(50, 117, 205);
}
#box-7 {
  background: rgb(205, 128, 50);
}
#box-8 {
  background: yellowgreen;
}
#box-9 {
  background: rgb(68, 98, 8);
}
