body{
  margin:0
}
header {
  background: yellowgreen;
  color: white;
  font-weight: 30px;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

footer{
  background: yellowgreen;
  color: white;
  font-weight: 30px;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  position: fixed;
    bottom: 0;
    width: 100%;
}