.container{
  display: flex;
  border:3px solid black;
  justify-content:flex-start;
  align-items: center;
  height: 200px;
  gap: 10px;
}
/* .item {
  background-color: #9e0a0a;
  padding: 10px;
  margin: 5px;
  flex-basis: 200px;
  text-align: center;
} */
