body{
  margin: 0;
}

header{
  background: blue;
    color: white;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 100px;
}

footer{
  background: blue;
  color: white;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 50px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
